<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="d-flex flex-column vh-100">

    <!-- Inclusion de la navbar -->
    <%- include('parts/navbar', { user: null }); %>

    <div class="flex-grow-1 image-container">
        <div class="h-100 bg-body-tertiary mask d-flex align-items-center justify-content-center">

            <!-- Menu centré -->
            <div class="bg-body-tertiary p-4 rounded text-center">
                <h1>Connexion</h1>
                <div id="error-msg"></div>
                <!-- On affiche le message d'erreur du serveur -->
                <% if(message){ %>
                <div class="alert alert-danger" role="alert">
                    <%=message%>
                </div>
                <% } %>
                <form id="registration-from" method="post" action="/auth/login">
                    <div class="mb-3">
                        <label class="form-label" for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Mot de passe:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" onclick="submit()" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
            <!-- Fin menu centré -->

        </div>
    </div>

</div>


<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/themer.js"></script>
</body>
</html>
